/* normalize/.styl | http://github.com/nulltask/normalize/.styl */
/* based on hail2u's normalize/.scss | https://github.com/hail2u/normalize/.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #666;
  font-size: 16px;
  line-height: 1.75em;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 16px + (16 - 16) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  html {
    font-size: 16px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 500;
  color: #111;
  clear: both;
}
h1 {
  font-size: 37.13918660312081px;
  margin-top: 0.942400822452556em;
  line-height: 1.130880986943067em;
  margin-bottom: 0.188480164490511em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 37.13918660312081px + (37.13918660312081 - 37.13918660312081) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h1 {
    font-size: 37.13918660312081px;
    margin-top: 0.942400822452556em;
    line-height: 1.130880986943067em;
    margin-bottom: 0.188480164490511em;
  }
}
h2 {
  font-size: 31.382671211473443px;
  margin-top: 1.115265165420465em;
  line-height: 1.338318198504558em;
  margin-bottom: 0.244375599756099em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 31.382671211473443px + (31.382671211473443 - 31.382671211473443) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h2 {
    font-size: 31.382671211473443px;
    margin-top: 1.115265165420465em;
    line-height: 1.338318198504558em;
    margin-bottom: 0.244375599756099em;
  }
}
h3 {
  font-size: 26.518406633189034px;
  margin-top: 1.319837970815179em;
  line-height: 1.583805564978215em;
  margin-bottom: 0.293829975920845em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 26.518406633189034px + (26.518406633189034 - 26.518406633189034) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h3 {
    font-size: 26.518406633189034px;
    margin-top: 1.319837970815179em;
    line-height: 1.583805564978215em;
    margin-bottom: 0.293829975920845em;
  }
}
h4 {
  font-size: 22.408095398395087px;
  margin-top: 1.561935513828041em;
  line-height: 1.87432261659365em;
  margin-bottom: 0.354209546468876em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 22.408095398395087px + (22.408095398395087 - 22.408095398395087) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h4 {
    font-size: 22.408095398395087px;
    margin-top: 1.561935513828041em;
    line-height: 1.87432261659365em;
    margin-bottom: 0.354209546468876em;
  }
}
h5 {
  font-size: 18.934875927090765px;
  margin-top: 1.848440947528171em;
  line-height: 2.218129137033805em;
  margin-bottom: 0.369688189505634em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 18.934875927090765px + (18.934875927090765 - 18.934875927090765) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h5 {
    font-size: 18.934875927090765px;
    margin-top: 1.848440947528171em;
    line-height: 2.218129137033805em;
    margin-bottom: 0.369688189505634em;
  }
}
h6 {
  font-size: 16px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.57421875em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 16px + (16 - 16) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  h6 {
    font-size: 16px;
    margin-top: 2.1875em;
    line-height: 2.625em;
    margin-bottom: 0.46484375em;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.875em;
  margin-bottom: 1.75em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0875em 0.2625em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.859375em;
}
@media (min-width: 1140px) {
  fieldset {
    margin-bottom: 2.05078125em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.1640625em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 16px;
  margin-bottom: 1.2578125em;
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 16px + (16 - 16) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 16px;
    margin-bottom: 0.533203125em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 16px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.1484375em;
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: calc( 16px + (16 - 16) * ((100vw - 600px) / (1140 - 600)) );
  }
}
@media (min-width: 1140px) {
  input[type="submit"],
  button {
    font-size: 16px;
    margin-bottom: 1.3125em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.296875em;
}
@media (min-width: 1140px) {
  table {
    margin-bottom: 2.1328125em;
  }
}
th {
  text-align: left;
  color: #111;
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  th {
    padding: 0.4375em 0.875em;
  }
}
td {
  padding: 0.21875em 0.875em;
}
@media (min-width: 1140px) {
  td {
    padding: 0.4375em 0.875em;
  }
}
/*
** Don't forget to delete the code below before starting your project!
*/
body {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}
a,
a:visited {
  text-decoration: none;
  color: #4f7891;
  font-weight: bold;
}
a:hover,
a:active {
  color: #12606e;
}
