@import "mixins"
@import "settings"


/*
** Don't forget to delete the code below before starting your project!
*/

*
    box-sizing: border-box

a, a:visited
    text-decoration: none
    color: rgb(79, 120, 145)
    font-weight: bold

a:hover, a:active
    color: rgb(18, 96, 110)

ul
    list-style-type: none
    padding: 0

section
    lost-center: 40rem
    padding: 1rem
